In [23]:
import pandas as pd
import boto3

**Using boto3 to connect to s3 through IAM role keys and import data stored in s3**

In [24]:
#Defining s3 client through IAM role keys
s3_client = boto3.client('s3', aws_access_key_id="", aws_secret_access_key="")
#listing the buckets present in s3
bucketResponse = s3_client.list_buckets()
print('Buckets stored in s3:')
for bucket in bucketResponse['Buckets']:
    print(f'{bucket["Name"]}')

Buckets stored in s3:
twittersentimenttweet

In [36]:
#listing the files present in bucket
bucketResponse = s3_client.list_objects(Bucket='twittersentimenttweet')
print('Files stored in Bucket:')
for content in bucketResponse['Contents']:
    print(content['Key'])

Files stored in Bucket:
twitter_sentiment_tweet.csv

In [30]:
#Read csv files in the bucket
objectResponse = s3_client.get_object(Bucket='twittersentimenttweet', Key='twitter_sentiment_tweet.csv')
df = pd.read_csv(objectResponse['Body'])

In [31]:
df

         score                                              tweet
0            0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1            0  is upset that he can't update his Facebook by ...
2            0  @Kenichan I dived many times for the ball. Man...
3            0    my whole body feels itchy and like its on fire
4            0  @nationwideclass no, it's not behaving at all....
...        ...                                                ...
1599995      4  Just woke up. Having no school is the best fee...
1599996      4  TheWDB.com - Very cool to hear old Walt interv...
1599997      4  Are you ready for your MoJo Makeover? Ask me f...
1599998      4  Happy 38th Birthday to my boo of alll time!!! ...
1599999      4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]